<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book List</title>
  </head>
  <body>
    <h1>Books</h1>
    <a href="{% url 'book_create' %}">Add Book</a>
    <ul>
      {% for book in books %}
      <li>
        {{ book.title }} by {{ book.author }} ({{ book.published_date }})
        <a href="{% url 'book_edit' book.id %}">Edit</a>
        <a href="{% url 'book_delete' book.id %}">Delete</a>
      </li>
      {% empty %}
      <li>No books available.</li>
      {% endfor %}
    </ul>
  </body>
</html>
