<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <h1>All Posts</h1>
    <a href="{% url 'post-create' %}">Create New Post</a>
    <ul>
        {% for post in posts %}
        <li>
            <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
            by {{ post.author.username }} on {{ post.published_date }}
        </li>
        {% empty %}
        <li>No posts available.</li>
        {% endfor %}
    </ul>
</body>
</html>
